img {
    border-radius: 10px;
    width: 320px;
  }

  .select-input {
    width: 108px;
    margin-bottom: 8px;
  }

  .list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 194, 196);
  }

  .detail-item {
    margin-left: 128px;
    margin-right: 128px;
  }

  .back-link {
    margin-top: 8px;
  }