<mat-card class="product-container">
    <mat-card-header>
        <mat-card-title>{{product.name}}
            <div class="product-image">
                <a [routerLink]="['/product', product.id]">
                    <img mat-card-image src="{{product.url}}" alt="{{product.name}}">
                </a>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{product.description}}</p>
        <p>$ {{product.price}}</p>
        <app-quntitywidget [product]="product"></app-quntitywidget>
    </mat-card-content>
</mat-card>